<%= form_with(model: booking_item, local: true) do |form| %>
  <% if booking_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking_item.errors.count, "error") %> prohibited this booking_item from being saved:</h2>

      <ul>
      <% booking_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :uid %>
    <%= form.text_field :uid %>
  </div>

  <div class="field">
    <%= form.label :booking_id %>
    <%= form.text_field :booking_id %>
  </div>

  <div class="field">
    <%= form.label :engine_id %>
    <%= form.text_field :engine_id %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
