<p id="notice"><%= notice %></p>

<h1>Booking Items</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Booking</th>
      <th>Engine</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @booking_items.each do |booking_item| %>
      <tr>
        <td><%= booking_item.uid %></td>
        <td><%= booking_item.booking %></td>
        <td><%= booking_item.engine %></td>
        <td><%= booking_item.start_date %></td>
        <td><%= booking_item.end_date %></td>
        <td><%= link_to 'Show', booking_item %></td>
        <td><%= link_to 'Edit', edit_booking_item_path(booking_item) %></td>
        <td><%= link_to 'Destroy', booking_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking Item', new_booking_item_path %>
