<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @booking.uid %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @booking.customer %>
</p>

<p>
  <strong>Status:</strong>
  <%= @booking.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
