<%= form_with(model: maintenance, local: false) do |form| %>
  
  <div class="modal-body">
    <ul class="errors">
    </ul>

    <div class="form-group">
      <%= form.label :maintenance_type_id %>
       <%= form.collection_select :maintenance_type_id, @maintenance_types, :id, :name, {prompt: "Sélectionner"}, class: "form-control", style: "width: 100%;",  required: true %> 
    </div>

  

    <div class="form-group">
      <%= form.label :fee, "Frais", class: "required" %>
      <%= form.number_field :fee, class: "form-control",min: "1", required: true %>
    </div>

    <div class="form-group">
      <%= form.label :service_provider, "Prestataire", class: "required" %>
      <%= form.text_field :service_provider, class: "form-control", placeholder: "Prestataire", required: true %>
    </div>

  
    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description, class: "form-control", placeholder: "description" %>
    </div>

 

  </div><!-- modal body -->
  <div class="modal-footer">
    <%= link_to "Annuler", "#", class: "btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", data: {dismiss: "modal"} %>
    <%= form.submit "Enregistrer", class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
  </div>
<% end %>
